body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: #444;
}

#quiz {
  margin-top: 60300px;
}

.question {
    margin: 20px 0;
}

.answer {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.answer:hover {
    background-color: #f1f1f1;
}

.correct {
    font-weight: bold;
    color: #28a745;
    background-color: #d4edda;
}

.wrong {
    font-weight: bold;
    color: #dc3545;
    background-color: #f8d7da;
}
